<h3>
Kichang Yang
</h3>
. <br />
. <br />

<div class='pull-right'>
<a href="https://twitter.com/zomojj" class="twitter-follow-button" data-show-count="false">Follow @zomojj</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<br />
<br />

I was excited to see the job posting for the position of application security engineer on Twitter's website. This is exactly the type of position that I have been looking for, and I am sure that I could sucessfully work as a team to improve Twitter's application security.

<br />
<br />

My past experiences as an application security developer and entrepreneur have given me the ability necessary to work effectively for you. I am also enthusiastic about Twitter's products, as you can see on this website. I will be more than grateful to attend an interview at your convenience.

<br />
<br />

<h4>Entrepreneur Experience</h4>
<ul>
<li> Founded two companies (one company was acquired)
<li> Early employee in early stage startups (two companies went public)
</ul>

<br />

<h4>Developer Experience (handle: zomo)</h4>
<ul>
<li> Built an SSL-based encryption & PKI-based authentication system, called "XecureWeb", which is used by four commercial banks in South Korea including <%= link_to "Kookmin Bank", "http://www.kbstar.com" %> 
<li> Implemented security best practices for <%= link_to "Military Manpower Administration of South Korea", "http://www.mma.go.kr" %>
<li> <%= link_to "Proof-of-concept exploit for stack overflow attack (posted to bugtraq, 1996)", "http://archives.neohapsis.com/archives/bugtraq/1996_4/0333.html" %>
<li> <%= link_to "Proof-of-concept exploit for Sendmail (1993)", "http://sites.estvideo.net/f5imv/Securite/how.to.hack.unix.html" %>
<li> Proof-of-concept exploit for DNS spoofing & TCP secquence number prediction attack (1993)
</ul>

<br />

<h4>Skills</h4>
<ul>
<li> Speak Korean(native), English(fluent) and Japanese(advanced)
<li> C, Ruby, Perl, Java, Ruby on Rails, JavaScript, HTML, CSS, Shell scripting, SQL, Solaris & Linux administration
<li> TCP/IP, DNS, Sendmail
<li> Popular encryption algorithms & cryptographic hash functions
</ul>

<br />

<h4>Education</h4>
<ul>
<li> Korea Advanced Institute of Science and Technology, Seoul, Korea
<li> - College of Business: Master of Science in Information Engineering
<li> Korea Advanced Institute of Science and Technology, Daejon, Korea
<li> - Bachelor of Science in Management
</ul>

<br />

<h4>Links</h4>
<ul>
<li> <%= link_to "microlog - what i'm doing now", posts_path %>
<li> <%= link_to "blog - what i'm thinking now (korean)", "http://zomoblog.heroku.com" %>, powered by heroku + octopress + disqus.
<li> <%= link_to "pinboard.in - what i'm reading now", "http://pinboard.in/u:kichang/public/" %>
</ul>

<br />

Thank you for considering my application. <br />

<br />

Respectfully yours, <br />

<br />

Kichang Yang <br />

<br />

<div class='pull-right span5'>
<h5>This site is built with</h5>
<ul>
<li> stack: linode VPS + ubuntu lucid + nginx + unicorn + rails + postgresql
<li> plus: rbenv + twitter bootstrap + capistrano + github
</ul>

<h5>Click the pin for my email!</h5>

<p>
<div id="map"></div>
</p>
</div>
