<h3>
Kichang Yang, developer turned entrepreneur turned developer
</h3>

<br />

<div class='pull-right'>
<a href="https://twitter.com/zomojj" class="twitter-follow-button" data-show-count="false">Follow @zomojj</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<br />

<h4>Entrepreneur</h4>
<ul>
<li> Founded two companies (one company was acquired)
<li> Early employee in early stage startups (two companies went public)
</ul>

<br />

<h4>Developer (handle: zomo)</h4>
<ul>
<li> Built SSL-based encryption & PKI-based authentication system, which is used by 4 banks in South Korea including <%= link_to "Kookmin Bank", "http://www.kbstar.com" %> 
<li> Implemented security best practices for Military Manpower Administration of South Korea
<li> <%= link_to "POC exploit for stack overflow attack (posted to bugtraq, 1996)", "http://archives.neohapsis.com/archives/bugtraq/1996_4/0333.html" %>
<li> <%= link_to "Proof-of-concept exploit for Sendmail (1993)", "http://sites.estvideo.net/f5imv/Securite/how.to.hack.unix.html" %>
<li> Proof-of-concept exploit for DNS spoofing (1993)
<li> Proof-of-concept exploit for TCP sequence number prediction attack (1993)
</ul>

<br />

<h4>Skills</h4>
<ul>
<li> speaks Korean(native), English(fluent) and Japanese(advanced)
<li> C, Ruby, Perl, Ruby on Rails, JavaScript, HTML, CSS
<li> Shell scripting (bash & csh)
<li> Solaris & Linux administration
<li> AWS EC2 & S3 API
<li> TCP/IP, DNS, Sendmail
<li> Popular encryption algorithms & cryptographic hash functions
</ul>

<br />

<h4>Links</h4>
<ul>
<li> <%= link_to "microlog - what i'm doing now", posts_path %>
<li> <%= link_to "blog - what i'm thinking now (korean)", "http://zomoblog.heroku.com" %>, powered by heroku + octopress + disqus.
<li> <%= link_to "pinboard.in - what i'm reading now", "http://pinboard.in/u:kichang/public/" %>
</ul>

<br />

<h5>This site is built with</h5>
<ul>
<li> stack: linode VPS + ubuntu lucid + nginx + unicorn + rails + postgresql
<li> plus: rbenv + twitter bootstrap + capistrano + github
</ul>

<br />

<h5>Click the pin for my email!</h5>

<p>
<div id="map"></div>
</p>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
